@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

body {

  background-image: url("images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  background-color: #070f2b;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;

  display: flex;
  flex-direction: column;

  transition: background-image 1s ease-in-out;

}


.searchZone {
  display: flex;
  flex-direction: column;
  margin: 100px;
  padding: 0px 10px 0px 10px;
  background-color: aliceblue;
  border-radius: 25px;
  width: 400px;
  align-self: center;
}


.fa-search {
  padding: 10px;
  margin: 0;
  border-radius: 10px;
}

.fa-search:hover {
  background-color: #dcdbfc;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  justify-self: center;
  align-self: center;
  border-radius: 25px;
  padding: 10px;

  background-color: aliceblue;

  width: 400px;
}



#suggestionsList {
  display: inline;
  list-style-type: none;
  align-self: center;
  background-color: aliceblue;
  width: 400px;
  padding: 10px;
  border-radius: 25px;
}

#suggestionsList li {
  padding: 5px;
}

#suggestionsList li:hover {
  background-color: #dcdbfc;
  cursor: pointer;
}



#suggestionsList li:last-child {
  border-radius: 0px 0px 20px 20px;
}


.searchbar input {
  border: none;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  width: 300px;
}

.searchbar button {
  background-color: transparent;
  border: none;
  background-color: aliceblue;
  padding: 0px;
  font-size: 16px;
  cursor: pointer;
}


h1 {
  font-size: 50px;
  color: aliceblue;
  text-shadow: #070f2b 0px 0px 16px;
}

#weatherResult {

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;

  align-self: center;
  width: 300px;
  height: 350px;
  border: solid aliceblue 4px;
  border-radius: 21px;
  background-color: #0000002a;
  backdrop-filter: blur(7px);
  margin-top: 20px;
  font-size: 18px;
}

#weatherResult #icon {
  font-size: 30px;
}

#weatherResult #temperature {
  font-size: 90px;
}

#weatherResult #ville {
  font-size: 20px;
}

#message {
  color: aliceblue;
  font-size: large;
}